body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("background2.jpg");
}
a {
  color: #000;
  margin-left: 275px;
}
h1 {
  margin-left: 300px;
}
p {
  margin-left: 300px;
}
table {
  margin-top: 50px;
  border-collapse: separate;
  border-spacing: 275px 5px;
}
form {
  margin-left: 275px;
}
form p {
  margin-left: 0px;
}
textarea {
	margin-left: 300px;
	resize: none;
}
