body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("background2.jpg");
}
a {
  color: #000;
  margin-left: 350px;
}
h1 {
  margin-left: 300px;
}
p {
  margin-left: 300px;
}
