doctype
html
  head
    title= 'Evergreen'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
         a(href="/") Home
         a(href="/register") Register
         a(href="/login") Login
         a(href="/download") Download
         a(href="/highscore") Highscore	 
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Evergreen is a serious game project about greening people's modes of transportation. Although the aim is to have change people's behaviours,<br>or at least make people question their actions, the game is designed to be fun in itself as well.
                <br><br>
                p Prototype of the interface:
                <img src="/images/earlyPrototype.jpg" alt="Prototype" width="245" height="428/2" style="margin-left:300px;">