doctype
html
  head
    title= 'Evergreen'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      nav
         a(href="/") Home
         a(href="/login") Login
         a(href="/download") Download
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Register Complete!